*.json
*.csv
*.ckpt
*.zip
*.pickle
__pycache__/
data/*
qa_pipeline/cache/cached_*
qa_pipeline/logs/neg/*
qa_pipeline/logs/pos/*
qa_pipeline/logs/neural/*
risk_pipeline/cache/cached_*
risk_pipeline/logs/prep/*
risk_pipeline/logs/symptom/*
